/* Text Utilities */

.text-small {
  font-size: var(--step--1);
}

.text-base {
  font-size: var(--step-0);
}

.text-large {
  font-size: var(--step-1);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}
