/* Center - Horizontally centered content with intrinsic sizing */

.center {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: var(--gutter);
  text-align: center;
}

.center[data-intrinsic] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
