/* Switcher - Switch from row to column at a threshold */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-m));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold, 30rem) - 100%) * 999);
}

/* Limit children width in row layout */
.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
